.App {
  text-align: center;
}
.text {
  font-size: 30px;
  min-width: 30rem;
}
.img {
  text-align: right;
  min-width: 30rem;
}
.car {
  padding-top: 5rem;

}
.img img {
  width: 28rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.container-fluid {
  text-align: center;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}